.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px 15%;
}

.logo img {
  height: 60px; /* Adjust height as needed */
}

.navbar .menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .menu li {
  margin-right: 20px; /* Adjust spacing between menu items */
}

.navbar .menu li:last-child {
  margin-bottom: 0; /* Remove margin from the last item */
}

.navbar .menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px; /* Adjust font size as needed */
}

.navbar .menu li a:hover {
  text-decoration: underline solid black;
}

.mobile-menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 20px; /* Remove left and right padding on mobile */
  }

  .mobile-menu-toggle {
    display: block; /* Show toggle button for mobile */
    cursor: pointer;
    margin: 0 10px;
  }

  .navbar .menu {
    position: absolute;
    top: 65px; /* Adjust based on your navbar height */
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #495e57;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: none;
  }

  .navbar.show .menu {
    display: flex;
  }

  .navbar .menu li {
    margin: 10px 0; /* Add margin to increase spacing between items */
    padding: 15px 20px; /* Increase padding for more distance */
  }

  .navbar .menu li a {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff; /* Change text color for better visibility */
  }
}
